{{- $id := .ID -}}

var {{$id}} = gio.NewMenu()

func init() {
	{{range $i, $_ := .Sections -}}
		{{- $sid := printf "s%v" $i -}}

		{{$sid}} := gio.NewMenu()
		{{range $i, $_ := .Items -}}
			{{- $iid := printf "%vi%v" $sid $i -}}

			{{$iid}} := gio.NewMenuItem({{.AttrByName "label" | printf "%q"}}, {{.AttrByName "action" | printf "%q"}})
			{{$sid}}.AppendItem({{$iid}})
		{{end}}

		{{$id}}.AppendSection("", {{$sid}})
	{{end -}}
}
