type {{.Class.Convert}} struct {
	*{{.Parent.Convert}}

	{{range .NamedChildren -}}
		{{.ID}} *{{.Class.Convert}}
	{{end}}
}

func New{{.Class.Convert}}({{.Parent.Constructor.Args.WithTypes}}) *{{.Class.Convert}} {
parent := {{.Parent.Constructor}}({{.Parent.Constructor.Args}})
	{{range .Properties -}}
		parent.SetObjectProperty({{.Name | printf "%q"}}, {{.Value}})
	{{end}}

	return &{{.Class.Convert}}{
		{{.Parent.Short}}: parent,
	}
}
