[Desktop Entry]
Name=Trayscale
Comment=An unofficial GUI wrapper around the Tailscale CLI.
Exec=trayscale
Icon=com.tailscale-tailscale
Type=Application
Categories=Network;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
