list.navigation-sidebar row {
	padding: 0px;
	margin: 0px 6px;
}

list.navigation-sidebar row image {
	border-radius: 50%;
	padding: 6px;
}

list.navigation-sidebar row.self image {
	background-color: rgba(0, 0, 255, .5);
}

list.navigation-sidebar row.mullvad image {
	background-color: rgba(255, 255, 0, .75);
}

list.navigation-sidebar row.peer.online image {
	background-color: rgba(0, 255, 0, .5);
}

list.navigation-sidebar row.peer:not(.online) image {
	background-color: rgba(255, 0, 0, .5);
}

list.navigation-sidebar label {
	padding: 0px;
	margin: 0px;
}

label.code {
	padding: 16px;
}
