name: Lint and Test

env:
  image: "ubuntu:24.04"
  dependencies: libgtk-4-dev libadwaita-1-dev
  go-version: 1.22.5

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:

jobs:
  go-vet:
    name: go vet
    runs-on: ubuntu-latest
    container:
      image: $image
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          apt-get update
          apt-get install -y ${{ env.dependencies }}
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.go-version }}
      - name: go vet
        run: go vet -v ./...

  staticcheck:
    name: staticcheck
    runs-on: ubuntu-latest
    container:
      image: $image
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          apt-get update
          apt-get install -y ${{ env.dependencies }}
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.go-version }}
      - name: Staticcheck
        uses: dominikh/staticcheck-action@v1.3.0
        with:
          install-go: false

  go-test:
    name: go test
    runs-on: ubuntu-latest
    container:
      image: $image
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Dependencies
        run: |
          apt-get update
          apt-get install -y ${{ env.dependencies }}
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.go-version }}
      - name: go test
        run: go test -v ./...
